@media screen and (max-width : 992px){

    /*nav*/
    .tiret{
        display: none;
    }

    .carousel p{
        font-size: 40px;
    }

    .cardIntro, .getReward, .ring, .mordor, .hunters, .aboutus{
       padding: 9%;
    }


    .cardIntro ul{
        flex-direction: column;
        align-items: center;
    }

    .getReward div{
        flex-direction: column-reverse;
    }

    .getReward p {
        margin: 1.5em;
        text-align: justify;
    }

    .getReward h2{
        width: 35%;
    }

    .elemHunters{
        flex-direction: column;
        margin-top: 2em;
    }

    .elemHunters article{
        margin: 1.5em;
    }

    .mordor h3{
        text-align: center;
    }

    .mordor div:nth-of-type(1){
        flex-direction: column-reverse;
    }

    .mordor div:nth-of-type(2){
        flex-direction: column;
    }

    .moreinfo{
        flex-direction: column-reverse;
    }

    .army{
        width: 60%;
    }

    .mordor img{
        margin: 2em;
    }

    .aboutus img{
        display: none;
    }

    .aboutus form{
        width: 100%;
        margin-top: 2em;
    }

    .aboutus h3{
        text-align: center;
    }

    .foot{
        flex-direction: column;
        align-items: center;
    }

    .foot ul{
        align-items: center;
        margin: 0;
    }

    .foot li{
        margin: 10px;
    }

    .hunters h3{
        text-align: center;
    }

    .mordor p{
        text-align: justify;
    }
}